@import "../../theme/_default.scss";

* { all: unset; }

window {
  border-radius: $radius2;
}
/*
*  Bar
*/
.bar {
  color: $text;
  padding: 0 $space3;
}

/*
* System
*/
.system-icon {
  font-size: $icon-lg;
}

.system-menu {
  background-color: $base;
  border-radius: $radius1;
  padding: 0 $space1;
}

.system-menu-group {
  border-bottom: $crust 1px solid;
  padding-bottom: $space1;
  margin-top: $space1;
}

.system-menu-button {
  border-radius: $radius1;
  min-width: 50px;

  &:hover {
    background: $surface0;
  }
}

.system-menu-label {
  padding: $space2;
}

/*
* Workspace
*/
.workspace {
  color: $surface0;
}

.workspace-active {
  color: $primary;
}

/*
* Calendar
*/
.calendar-box {
  background-color: $base;
  border-radius: $radius2;
  padding: $space3;
}

.calendar {
  padding: $space1;
}

.calendar:selected {
  background: $primary;
  border-radius: $radius2;
  color: $surface0;
}

/*
* Wifi
*/
.wifi-name {
  color: inherit;
  font-size: $font-md;
  padding-right: $space2;
}
.wifi-icon {
  color: inherit;
  font-size: $icon-md;
}

/*
* Light
*/
.brightness-icon {
  color: inherit;
  font-size: $icon-md;
}

/*
* Volume
*/
.volume-icon {
  color: inherit;
  font-size: $icon-md;
}

/*
* Slider
*/
.scale {
  all: unset;
  color: inherit;
}

.scale trough highlight {
  all: unset;
  background-color: $crust;
  color: inherit;
  border-radius: $radius1;
}

.scale trough {
  all: unset;
  background-color: $crust;
  border-radius: $radius1;
  min-height: 8px;
  min-width: 50px;
  margin-left: $space2;
  margin-right: $space2;
}

.scale trough highlight {
  all: unset;
  background-color: $primary;
  border-radius: $radius1;
  color: inherit;
}

.scale trough {
  all: unset;
  background-color: $surface0;
  border-radius: $radius1;
  min-height: 8px;
  min-width: 50px;
  margin-left: $space2;
  margin-right: $space2;
}
